
/*
    Created on : 25/10/2018, 18:42:15
    Author     : Gleidson Neves da Silveira
    Samples styles
*/

.table-view:row-selection:constrained-resize:unconstrained-resize .column-header-background .show-hide-columns-button .show-hide-column-image
{
    -fx-scale-x : 2.5;
    -fx-scale-y : 1.0;
    -fx-image-repeat : none;
    -fx-shape : "M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z";
    -fx-translate-x : -10px;
}

.table-view .column-header-background .nested-column-header .table-column:last-visible
{
    -fx-padding : 12px;
    -fx-alignment : center;
}

.layout {
    -fx-background-color : -background-color;
}



.hamburger {
    -gn-button-type : rounded;
    -fx-background-color : transparent;
}

.hamburger:focused,
.hamburger:hover {
    -gn-button-type : rounded;
    -fx-background-color : -light-gray, -medium-gray;
}

.table-cell #custom-avatar .text,
.list-cell #custom-avatar .text {
    -fx-fill : white;
}

.table-cell #custom-avatar,
.list-cell #custom-avatar {
    -fx-font-weight : bold;
    -fx-font-size : 14pt;
}

.table-cell #custom-avatar,
.list-cell #custom-avatar {
    -fx-background-radius : 100px;
    -fx-background-color : -base;
    -fx-border-width : 2px;
    -fx-border-radius : 100px;
    -fx-border-color : white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 10, 0 , 0 , 1 );
}

.list-cell:focused #custom-avatar {
     -fx-border-color : white;
}

.list-cell:focused:hover #custom-avatar,
.table-cell:focused:hover #custom-avatar,
.table-cell:hover #custom-avatar,
.list-cell:hover #custom-avatar {
     -fx-border-color : -base;
     -fx-background-color : white;

}

.table-cell:hover #custom-avatar .text,
.list-cell:hover #custom-avatar .text {
    -fx-fill : -base;
}

#badge-cell:filled:even:selected,
#badge-cell:filled:selected {
    -fx-background-color: derive(-base, 90%);
    -fx-padding : 0 0 0 20;
}

.snack-bar .snack-button  {
    -fx-text-fill : white;
}

.snack-bar .snack-button .text {
    -fx-fill : white;
}

.snack-bar .snack-button:hover .text,
.snack-bar .snack-button:focused:hover .text,
.snack-bar .snack-button:focused .text,
.snack-bar .snack-button:pressed:hover .text,
.snack-bar .snack-button:pressed {
    -fx-text-fill : -base;
    -fx-fill : -base;
}

.snack-bar .snack-button {
    -fx-background-color : -base;
    -fx-border-color : white;
    -fx-text-fill : white;
    -gn-background-transition : white;
    -gn-text-transition : -base;
}




